.cfgCSS h1{
    font-size: 24px;
    text-align: center;
}
.cfgCSS input{
    /*text-align: center;*/
    padding: 3px;
}
.cfgCSS #submit_actions{
    text-align: center;
    /*margin-bottom: 1.625em;*/
}
.cfgCSS body {
    
}
.cfgCSS p {
    margin: 0;
}
.cfgCSS caption{
    text-align: center;
}
.cfgCSS table, th, td{
    border: 1px;
}
.cfgCSS th td{
    padding: 3px;
}
.cfgCSS #center_container{
    position: relative;
    float: left;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
}
.cfgCSS #login_container{
    position: relative;
    float:left;
    left: 50%;
}
.cfgCSS #login{
    position: relative;
    float:left;
    left: -50%;
    margin: 28px 0px;
}
.cfgCSS #form_head_container{
    position: relative;
    float:left;
    left: 50%;
}
.cfgCSS #form_head{
    position: relative;
    float:left;
    left: -50%;
    margin: 28px 0px;
}
.cfgCSS #pending_container{
    clear:both;
    position: relative;
    float:left;
    left: 50%;
}
.cfgCSS #pending{
    position: relative;
    float:left;
    left: -50%;
    /*margin: 28px 0px;*/
}
.cfgCSS #header{
    text-align: center;
}
.cfgCSS #footer{
    text-align: center;
    clear: both;
    padding: 1.625em 0;
    background: url("../view/images/footer-bottom.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}