<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <table>
            <tr>
                <td>House Repair</td><td>Self Help Housing</td>
            </tr>
            <tr>
                <td><img src='/Volumes/Mac Data/jcarey/code-for-good-MHDC/images/House-Repair.jpg' style='vertical-align:middle;'></td>
                <td><img src='/Volumes/Mac Data/jcarey/code-for-good-MHDC/images/Self-Help-Housing.jpg' style='vertical-align:middle;'></td>
            </tr>
        </body>
    </html>
